In [3]:
import pandas as pd
import numpy as np

df = pd.read_excel("../dataset/buy_car.xlsx")
df.head()

         Age  Income Marital_Status Cred_rating Buys_Car
0      Youth    High             No        Fair       No
1      Youth    High             No   Excellent       No
2  MiddleAge    High             No        Fair      Yes
3     Senior  Medium             No        Fair      Yes
4     Senior     Low            Yes        Fair      Yes

In [ ]:
number_of_cluster = 2